body {
    background-image: url('back2.png');
    color: black;
    font-family: Bitstream Vera Sans, "Trebuchet MS",Verdana,Lucida,Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 0px; padding: 0px;
}

div.focuspane { 
    width: 100%; min-height: 147px;
    background-image: url('logoback2.gif'); background-repeat: repeat-x; background-color: #bcbcbc;
    border-top: 1px solid #68A0B1; border-bottom: 1px solid #68A0B1;
    margin-bottom: 12px;
} div.contenthere{ margin-left: auto; margin-right: auto; width: 700px; padding: 8px; color: #000000;}

div.container {
    background-color: #fcfcfc;
    border-color: #bcbcbc;
    border-style: solid;
    border-width: 15px;
    /* float: left; */
    /* height: 70px; */
    padding: 8px;
    width: 970px;
    margin-left: auto; margin-right: auto;
    margin-top: 70px;
}

/* .row { background-color: #D0F0FF; } */

div.header{
  color: #000000;
  line-height: 1.2em;
  font-size: 12px;
  border-bottom: 3px dotted #8CACBB;
  padding: 0px;
  margin-top: 24px;
  font-weight: bold;
}

.notice{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #FFB3E5;
width: 100% - 1px;
padding: 8px;
/* border-top: solid #ECD4CF 8px; */
margin-top: 32px;
}

div.statcol{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    border: solid #000000 0px;
    vertical-align: middle;
}

div.statrow{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    border: solid #000000 0px;

    vertical-align: middle;
    min-width: 100px;
    
    clear: both;
} div.breather { padding-bottom: 32px; }

h1{ font-size: 24px; color: #0066cc; margin-bottom: 12px; }

font.header { color: #0066CC; font-size: 24px; }

font.shoulderline{
font-family: FrugalSansRegular, Tahoma;
/* background-color: #fff; */
color: #ff66cc;
font-style: italic;
text-decoration: none;
word-spacing: normal;
text-align: left;
letter-spacing: 0;
line-height: 1.2em;
font-size: 1.8em;
}

a:link, a:visited { color: #ff66cc; text-decoration: none; }
a:hover, a:active { color: #ff66cc; text-decoration: underline; }

/* ----------------- forms -----------------  */

.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px ridge #000000;
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 width: 250px;
}

.mediumbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px ridge #000000;
}

.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

/* ----------------- listamatic menu -----------------  */

#navcontainer ul {
    color: black;
    /* font-family: Arial,Helvetica,sans-serif; */
    line-height: 18px;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-top: 5px;
    text-align: left;
    width: 100%;
}
#navcontainer ul li {
    display: block;
    padding: 5px 0 5px 0;
}
#navcontainer ul li a {
    color: black; 
    padding: 5px 10px;
    text-decoration: none;
}
#navcontainer ul li a:hover {
    background-color: #E8EDF3;
    color: black;
    cursor: pointer;
}
#navcontainer #active {
    background-color: #8CACBB;
}

/* menu 2 - horizontal */
        #navcontainer2 ul
        {
        height: 55px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 30px;
        background-image:url('backlite2.png');
        color: #9AC9FD;
        xxfloat: left;
        max-width: 100%;
        font-family: Verdana, helvetica, sans-serif;

        }

        #navlist a:link#current, #navlist a:visited#current, #navlist a:hover
        {
        background-color: #BcBcBc;
        height: 45px;
        }


        #navcontainer2 ul li { display: inline; line-height: 27px;}

        #navcontainer2 ul li a
        {
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 24px;
        height: 40px;
        color: White;
        text-decoration: none;
        float: left;
        }

        #navcontainer2 ul li a:hover
        {
        background-image:url('spacer.gif');
        color: #fff;
}

/***********
    Validation
*/

/* label { display: block; width: 10em; float: left; } */
label.error { display: block; float: left; float: none; color: red; padding-left: .5em; vertical-align: top;
    background-color: #F4A18F; margin-top: 3px;}
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

.bb {padding: 3px; background-color: black; }

@media screen and (max-width: 600px) {
    img { max-width: 80% !important; }
    textarea { max-width: 90% !important; }
    div.offset { margin-left: 1em !important;  }
    .mediumtext { max-width:90% !important;  }
    body{ margin-bottom: 3em; }
    .column { float: none !important; display: block !important; }
    .row, .container { width: 90% !important; margin-top: 0px !important; }
    #navcontainer ul { padding-left: 0px !important; }
    .grid_6 { width: 100% !important; }
    body { font-size: 1.15em !important; }
    .bom { width: 1em; height: 1em; }
}